<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AuroTax - Admin</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="./assets/images/favicon3.ico"
            sizes="96x96" />
        <!-- CSS only -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous" />
        <!-- Bootstrap -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script
            type="text/html"
            src="https://kit.fontawesome.com/2c36e9b7b1.js"
            crossorigin="anonymous"></script>
    </head>

    <body onload="findAll()">
        <!-- NavBar -->
        <nav class="navbar navbar-expand-lg bg-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html" translate="no"
                    ><i class="bi bi-x-diamond-fill"></i>AuroTax</a
                >
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="index.html"
                                >Home</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="tutoriales.html"
                                >Tutoriales</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                href="https://wa.me/573167782676?text=Hola%20,%20necesito%20ayuda%20con%20el%20proceso"
                                target="_blank"
                                rel="noopener noreferrer"
                                >Contactenos</a
                            >
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Opciones
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="https://aurotax.com/login"
                                        >Admin</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="formOpt1.html"
                                        >Formulario1</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="formOpt2.html"
                                        >Formulario2</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="navbar-nav ml-auto action-buttons"></div>
                    <div>
                        <form action="/admin" method="POST">
                            <input
                                class="btn btn-danger"
                                type="submit"
                                placeholder="Logout"
                                value="logout" />
                        </form>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container mt-5">
            <header>
                <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                    <h1 class="display-4 fw-normal">Registros</h1>
                </div>
            </header>
            <div>
                <button
                    type="button"
                    class="btn btn-primary"
                    onclick="findAll()">
                    Cargar
                </button>
            </div>

            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark" id="thead">
                    <tr>
                        <th>ID TAX PAYER</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Pais</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="22">No Registros</td>
                    </tr>
                </tbody>
            </table>

            <div class="container">
                <footer
                    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                    <div class="col-md-4 d-flex align-items-center">
                        <a
                            href="/"
                            class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                            <svg class="bi" width="30" height="24">
                                <use xlink:href="#bootstrap"></use>
                            </svg>
                        </a>
                        <span class="mb-3 mb-md-0 text-muted"
                            >© 2022 AuroTax.com</span
                        >
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>

<script>
    const baseUrl2 = "http://localhost:8383";
    const postUrl2 = "/decrypted";
    const ApiUrl ="https://gd05688e24a07c4-aurotaxbd.adb.ca-montreal-1.oraclecloudapps.com/ords/admin/taxpayer/taxpayer";

    async function findAll() {
        $.ajax({
            type: "GET",
            url: ApiUrl,
            dataType: "json",
            crossDomain: true,
            contentType: "application/json",
            complete: async function (response) {
                if (response.status == 200) {
                    const data = JSON.parse(response.responseText);
                    console.log(data.items);
                    $("tbody").html("");
                    for (let index = 0; index < data.items.length; index++) {
                        const data2 = await getAllDecryptedData(data.items[index]);
                        $("tbody").append(`<tr>
                        <td>${data2.idtaxpayer}</td>
                        <td>${data2.name}</td>
                        <td>${data2.lastname}</td>
                        <td>${data2.country}</td>
                        <td><button class="btn btn-primary"onclick="storageIdPayer(${data2.idtaxpayer})"><ahref="pdf.html">Detalle</a></button>
                            <button class="btn btn-danger" onclick="deleteById(${data2.idtaxpayer})">Eliminar</button></td>
                        </tr>`);
                    }
                } else {
                    alert("No se han cargado los registros");
                }
            },
        });
    }

    function storageIdPayer(idtaxpayer) {
        sessionStorage.setItem("idTaxPayer", idtaxpayer);
        location.href = "pdf.html";
    }

    function deleteById(idtaxpayer) {
        $.ajax({
            type: "DELETE",
            url: `${ApiUrl}/${idtaxpayer}`,
            dataType: "json",
            crossDomain: true,
            data: JSON.stringify({ idtaxpayer: idtaxpayer }),
            contentType: "application/json",
            complete: function (response) {
                if (response.status == 204) {
                    findAll();
                    alert("Registro Eliminado con Exito");
                } else {
                    alert("Registro no fue eliminado");
                }
            },
        });
    }

    async function getAllDecryptedData(obj) {
        const res = await fetch(`${baseUrl2}${postUrl2}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                data: obj,
            }),
        });
        const data = await res.json();
        return data.status2;
    }
</script>
