<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AuroTax</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="./assets/images/favicon3.ico"
            sizes="96x96" />

        <!-- CSS Bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" />
        <!-- Bootstrap -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script
            type="text/html"
            src="https://kit.fontawesome.com/2c36e9b7b1.js"
            crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- NavBar -->
        <nav class="navbar navbar-expand-lg bg-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html" translate="no"
                    ><i class="bi bi-x-diamond-fill"></i>AuroTax</a
                >
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="index.html"
                                >Home</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="tutoriales.html"
                                >Tutoriales</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                href="https://wa.me/573167782676?text=Hola%20,%20necesito%20ayuda%20con%20el%20proceso"
                                target="_blank"
                                rel="noopener noreferrer"
                                >Contactenos</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container mt-4">
            <div class="row">
                <div class="col-md-4 col-md-offset-6">
                    <form action="/login" method="POST">
                        <h1 class="h3 mb-3 fw-normal mt-5">Please sign in</h1>

                        <div class="form-floating">
                            <input
                                class="form-control"
                                type="text"
                                name="username"
                                id="email"
                                placeholder="User"
                                required />
                            <label for="username">Usuario</label>
                        </div>
                        <p></p>
                        <div class="form-floating">
                            <input
                                class="form-control"
                                type="password"
                                name="password"
                                id="password"
                                placeholder="Password"
                                required />
                            <label for="password">Password</label>
                        </div>
                        <p></p>

                        <button type="submit" class="btn btn-primary">
                            Iniciar Sesion
                        </button>
                        <button
                            type="button"
                            class="btn btn-success"
                            onclick="history.go(-1)">
                            Regresar
                        </button>
                    </form>
                </div>
            </div>

            <div class="container">
                <footer
                    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                    <div class="col-md-4 d-flex align-items-center">
                        <a
                            href="/"
                            class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                            <svg class="bi" width="30" height="24">
                                <use xlink:href="#bootstrap"></use>
                            </svg>
                        </a>
                        <span class="mb-3 mb-md-0 text-muted"
                            >© 2022 AuroTax.com</span
                        >
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
